// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

// Include functions first
@import 'bootstrap/scss/functions';

// My custom variables
$primary-teal: #00a39a;
$light-green: #bbf5d2;
$dark-grayish-blue: #263a43;
$medium-gray: #767676;
$light-gray: #c1c0c0;
$orange-yellow: #e19e1a;
$yellow: #fbbc05;
$violet: #5243c2;
$pinkish-purple: #9747ff;

$custom-colors: (
  primary-teal: $primary-teal,
  light-green: $light-green,
  dark-grayish-blue: $dark-grayish-blue,
  medium-gray: $medium-gray,
  light-gray: $light-gray,
  orange-yellow: $orange-yellow,
  yellow: $yellow,
  violet: $violet,
  pinkish-purple: $pinkish-purple
);

// Generate classes for each variable (text and background)
@each $color-name, $color-value in $custom-colors {
  $text-class-name: "text-#{$color-name}";
  $bg-class-name: "bg-#{$color-name}";

  .#{$text-class-name} {
    color: $color-value !important;
  }

  .#{$bg-class-name} {
    background-color: $color-value !important;
  }
}

// Customize some defaults
$font-family-base: Poppins, sans-serif, system-ui;
$primary: $primary-teal;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;
$h7-font-size:                $font-size-base * 0.75 !default;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $h7-font-size
);
$body-color: #333;
$body-bg: #fff;
$border-radius: 0.4rem;
$success: #7952b3;
$nav-pills-link-active-color:       $primary-teal;
$nav-pills-link-active-bg:          #00A39A33;

// Required
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';

@import 'bootstrap/scss/type';
// @import "bootstrap/scss/images";
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
// @import "bootstrap/scss/button-group";
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar'; // Requires nav
@import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import 'bootstrap/scss/close';
// @import "bootstrap/scss/toasts";
@import 'bootstrap/scss/modal'; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import 'bootstrap/scss/popover';
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import 'bootstrap/scss/offcanvas'; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import 'bootstrap/scss/utilities/api';

//
// Custom styles
//

.btn-primary {
  color: $white;
}
